<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.rtlwm.airportrtlwm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Airportrtlwm</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<!-- RTW88 and RTW89 PCI IDs – add sub-device IDs as needed -->
	<key>IOKitPersonalities</key>
	<dict>
		<!-- RTL8822BE -->
		<key>Airportrtlwm_RTL8822BE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rtlwm.airportrtlwm</string>
			<key>IOClass</key>
			<string>Airportrtlwm</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0xB82210EC</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<!-- RTL8822CE -->
		<key>Airportrtlwm_RTL8822CE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rtlwm.airportrtlwm</string>
			<key>IOClass</key>
			<string>Airportrtlwm</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0xC82210EC</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<!-- RTL8723DE -->
		<key>Airportrtlwm_RTL8723DE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rtlwm.airportrtlwm</string>
			<key>IOClass</key>
			<string>Airportrtlwm</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0xD72310EC</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<!-- RTL8821CE -->
		<key>Airportrtlwm_RTL8821CE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rtlwm.airportrtlwm</string>
			<key>IOClass</key>
			<string>Airportrtlwm</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0xC82110EC</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<!-- RTL8852AE -->
		<key>Airportrtlwm_RTL8852AE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rtlwm.airportrtlwm</string>
			<key>IOClass</key>
			<string>Airportrtlwm</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x885210EC</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<!-- RTL8852BE -->
		<key>Airportrtlwm_RTL8852BE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rtlwm.airportrtlwm</string>
			<key>IOClass</key>
			<string>Airportrtlwm</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0xB85210EC</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<!-- RTL8851BE -->
		<key>Airportrtlwm_RTL8851BE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rtlwm.airportrtlwm</string>
			<key>IOClass</key>
			<string>Airportrtlwm</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x885110EC</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024 Airportrtlwm Contributors. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IO80211Family</key>
		<string>1200.12.2</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b1</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b1</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b1</string>
	</dict>
</dict>
</plist>
